body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #fff;
}

a {
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

.container {
  width: 1158px;
  padding: 0 15px;
  margin: 0 auto;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.header {
  border-bottom: 1px solid #e7e9fc;
}



.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* ------------------header---------------------- */
.header-container {
  display: flex;
  align-items: center;
}

.header-part{
    box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);

}


.header-nav {
  display: flex;
  align-items: center;
}

.nav-list {
  display: flex;
  gap: 40px;
}

.address-list {
  display: flex;
  gap: 40px;
}

.address {
  margin-left: auto;
  font-style: normal;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.header-logo {
  display: block;
  margin-right: 76px;
  padding: 24px 0;
 transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1); 

}

.logo-part {
  color: #2e2f42;
}

.nav-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  padding: 24px 0;
  display: block;
transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.current {
  position: relative;
  color: #404bbf;
}

.nav-link.current::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  display: block;
  width: 48px;
  border-radius: 2px;
  height: 4px;
  background-color: #404bbf;
}

.nav-link:hover,
.nav-link:focus {
  color: #404bbf;
}

.nav-link-address {
  display: block;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  padding: 24px 0;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.nav-link-address:hover,
.nav-link-address:focus {
  color: #404bbf;
}

/* -------------------Hero------------------------- */
.hero-section {
  max-width: 1440px;
  padding: 188px 0;
  background-color: #2e2f42;
  background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/hero1111.jpg);
  background-repeat: no-repeat;
  background-size: cover;
   background-position: center;
  margin: 0 auto;
 box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);

}

.hero-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
  max-width: 496px;
  margin: 0 auto 48px auto;
}

.hero-btn {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  background-color: #4d5ae5;
  cursor: pointer;
  border-radius: 4px;
  padding: 16px 32px;
  display: block;
  margin: 0 auto;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-btn:hover,
.hero-btn:focus {
  background-color: #404bbf;
}

/* ---------------Advantages-------------------- */

.advantages-section {
  padding: 120px 0;
}

.advantages-item {
  width: calc((100% - 72px) / 4);
}

.advantages-title {
  margin-bottom: 8px;
}
.advantages-list {
  display: flex;
  flex-direction: row;
  gap: 24px;
}

.advantages-icons {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 112px;
  background-color: #f4f4fd;
  border-radius: 4px;
  border: 1px solid #8e8f99;
  margin-bottom: 8px;
  fill: #f4f4fd;
}

/* ---------------Team-------------------- */

.team-section-wrap {
  padding: 32px 0;
}

.team-item {
  width: calc((100% - 72px) / 4);
  text-align: center;
  background-color: #fff;
  border-radius: 0 0 4px 4px;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.team-soc-link {
  display: flex;
  justify-content: center;
  gap: 24px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding-bottom: 32px;
}

.network-soc-item {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #4d5ae5;
  border-radius: 50%;
  position: relative;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  fill: #fff;
}
.network-soc-item:hover,
.network-soc-item:focus {
  background-color: #404bbf;
}


.team-list {
  display: flex;
  gap: 24px;
}

.team-section {
  padding: 120px 0;
  background: #f4f4fd;
}

.team-title {
  text-align: center;
  margin-bottom: 8px;
}

.team-text {
  text-align: center;
  margin-bottom: 8px;
}

.our-team {
  margin-bottom: 72px;
}

.team-network-icons{
  fill: #f4f4fd;
}

/* --------------Portfolio--------------- */
.portfolio-text-scroll {
      position: absolute;
    top: 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    padding: 40px 32px;
    background-color: #4d5ae5;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    cursor: pointer;
    width: 100%;
    height: 100%;
}

.portfolio-list-wrap {
   position: relative;
  overflow: hidden;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  margin-bottom: 0;
  row-gap: 48px;
}

.portfolio-wrap {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.portfolio-section {
  padding-top: 120px;
  padding-bottom: 120px;
}

.portfolio {
  margin-bottom: 72px;
}

.portfolio-title {
  margin-bottom: 8px;
}

.portfolio-info {
   transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  width: calc((100% - 48px) / 3);
}

.portfolio-info:hover{
     box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);

}

.portfolio-info:hover .portfolio-text-scroll{
  transform: translateY(0);
}

.advantages-title,
.team-title,
.portfolio-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.advantages-text,
.team-text,
.portfolio-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.our-team,
.portfolio,
.advantages {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-align: center;
  text-transform: capitalize;
}

/* -------Footer------------------ */

.footer {
  padding: 100px 0;
  background-color: #2e2f42;
}

.footer-container {
  display: flex;
  align-items: baseline;
}

.footer-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  width: 264px;
}

.footer-logo {
  display: inline-block;
  margin-bottom: 16px;
}

.footer-part {
  color: #f4f4fd;
}

.footer-right-network {
  display: block;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
  margin: 0 0 16px;
}

.team-soc-link-footer {
  display: flex;
  gap: 16px;
}

.footer-icons:focus,
.footer-icons:hover{
background-color: #31d0aa;
}

.footer-logo-right {
  margin-right: 80px;
  max-width: 240px;
}

.footer-icons:hover {
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-logo-left{
  margin-right: 120px;
}


/* ------------------------MODAL------------------------------- */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 408px;
 min-height: 584px;
  transform: translate(-50%, -50%) scale(1);
  background: #fcfcfc;
  border-radius: 4px;
  padding: 72px 24px 24px 24px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  background-color: #e7e9fc;
  padding: 0;
  cursor: pointer;
  border: 1px solid rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn:hover,
.modal-btn:focus {
  background-color: #404bbf;
  border: none;
}

.modal-btn:hover > .icon-close,
.modal-btn:focus > .icon-close {
  fill: #fff;
}

.icon-close {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-title {
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
}

.modal-input {
  min-width: 360px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  height: 40px;
  background-color: transparent;
  padding-left: 38px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus,
.comment-name:focus {
  border-color: #4d5ae5;
}

.modal-input:focus + .modal-svg-icons {
  fill: #4d5ae5;
}

.comment-name {
  min-width: 360px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  height: 120px;
  background-color: transparent;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  resize: none;
  padding: 8px 16px;
}

.modal-file {
  margin-bottom: 8px;
}

.modal-lable {
  display: block;
  margin-bottom: 8px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16667;
  letter-spacing: 0.04em;
  color: #8e8f99;
}

.modal-span {
  display: block;
  margin-bottom: 4px;
}

.modal-svg-icons {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-bang {
  position: relative;
}

.modal-lable-btn {
font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  color: #fff;
  border-radius: 4px;
  padding: 16px 32px;
  min-width: 169px;
  height: 56px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background-color: #4d5ae5;
  align-self: center;
  cursor: pointer;
  display: block;
  margin: auto;
 
  margin-top: 24px;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-lable-btn:hover,
.modal-lable-btn:focus{
    background-color: #404bbf;
}
.check-text {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.04em;
  color: #8e8f99;
}

.policy-text {
  line-height: 1.33;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #4d5ae5;
}
.file{
  margin-bottom: 16px;
}

.checkbox-file {
  display: flex;
  align-items: center;
  text-align: center;
  gap: 8px;

}

.checkbox-icon{
 width: 16px;
  height: 16px;
  border-radius: 2px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  display: inline-flex;
  justify-content: center;
  align-items: center;
  fill: transparent;
  position: relative;
  margin-right: 8px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}



.modal-checkbox:checked + .check-text > .checkbox-icon{
  background-color: #404bbf;
  border: none;
  fill: #F4F4FD;

}

.footer-subscribe{
      width: 453px;
    height: 80px;
}

.footer-form{
    display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 24px;
}

.footer-logo-input{
   padding: 8px 16px;
  background-color: transparent;
  border: 1px solid #fff;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  width: 264px;
  height: 40px;
  padding-left: 16px;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: #fff;
  background-color: transparent;
  outline: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-logo-input::placeholder{
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: #fff;
}

.footer-logo-input:focus{
  border-color: #4d5ae5;
}

.subscribe-btn{
display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 24px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  color: #fff;
  border: none;
  border-radius: 4px;
  min-width: 165px;
  height: 40px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background-color: #4d5ae5;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.subscribe-btn:hover,
.subscribe-btn:focus{
   background-color: #404bbf;
}



.sub-icon{
    margin-left: 16px;
}